.login-container {
  margin: 0;
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #122436;
  color: white;
}

.login-form {
  width: 350px;
  height: 460px;
  margin: 1rem;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e2a38; /* Slightly different background for the form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Default shadow */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow */
}

.login-form:hover {
  box-shadow: 0 8px 30px rgba(195, 221, 224, 0.5); /* Off-white shadow on hover */
}

.login-form h2 {
  text-align: left;
  margin-bottom: 5rem; /* Adjusted margin */
}

.login-form input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form button {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #00d9ff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.login-form button:hover {
  background-color: #ddd;
  border: 1px solid #00d9ff;
  color: #000;
  transition: 0.3s;
}

.login-form p {
  margin-top: 10px;
  color: #d9534f;
}

.login-image-section {
  margin-left: 2rem;
}

.login-image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: Add rounded corners to the image */
}
